<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>Official Ethereum Social Pool</strong>
        </h1>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong><br/>
        <span class="label label-success">PROP</span> Stable and profitable pool with regular payouts.<br/>
        <span class="label label-success">GEO</span> Worldwide high speed low latency mining pool.<br/>
        <span class="label label-success">24/365</span> Unstoppable server infrastructure with 24/365 customer support.<br/>
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span><span class="badge badge-secondary">No Fee till 04.01</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h4>What is Ethereum Social?</h4>
    <h4 class="note note-info text-center">
      Ethereum Social (ETSC) is a community-enterprised blockchain platform based on Ethereum protocol. For more info, <a href="https://ethereumsocial.kr" target="_blank">visit our homepage</a>
    </h4>
  </div>
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your ETSC Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <table border="0" width="100%">
      <h4>Connection info</h4>
      <tr>
        <td>
          <h5 class="note note-info text-center">
            <span class="label label-success">2b</span>&nbsp;<a href="./help" title="CLICK FOR HELP"><b>RIG HASHRATE &lt; 150 MH/s</b></a>
            <br>
            (difficulty 2 billion)
            <br><br>
            <b>Stratum Mining:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:8008</code>
            <hr>
            <b>Getwork Mining:</b>
            <br><br>
            <code>{{config.HttpHost}}:8888</code>
          </h5>
        </td>
        <td>
          <h5 class="note note-info text-center">
            <span class="label label-success">4b</span>&nbsp;<a href="./help" title="CLICK FOR HELP"><b>WORKER / NICEHASH 150 - 800 MH/s</b></a>
            <br>
            (difficulty 4 billion)
            <br><br>
            <b>Stratum Mining:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:8009</code>
            <hr>
            <b>Getwork Mining:</b>
            <br><br>
            <code>{{config.HttpHost}}:8899</code>
          </h5>
        </td>
        <td>
          <h5 class="note note-info text-center">
            <span class="label label-success">9b</span>&nbsp;<a href="./help" title="CLICK FOR HELP"><b>WORKER / NICEHASH &gt; 800 MH/s</b></a>
            <br>
            (difficulty 9 billion)
            <br><br>
            <b>Stratum Mining:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:9009</code>
            <hr>
            <b>Getwork Mining:</b>
            <br><br>
            <code>{{config.HttpHost}}:9999</code>
          </h5>
        </td>
      </tr>
    </table>
    <h4 class="note note-info text-center">
      <b>Support:</b>
      <br><br>
      Mail:&nbsp;&nbsp;<a href="mailto:info@ethereumsocial.kr">info@ethereumsocial.kr</a>
      <br>
      Discord:&nbsp;&nbsp;join <a href="https://discord.gg/h6vsEuw" target="_new">Official Ethereum Social Discord</a>
      <br>
      <font size="-1">(direct Message to the Pool Operator: @Airking)</font>
    </h4>
  </div>
</div>
